*{
    margin: 0;
    padding: 0;
}
button{
    float: left;
}
#container{
    width: 100%;
    height: 100%;
    position: absolute;
    background:rgba(0,0,0,0.5);
    display: none;
}
#container #evaluate{
    width: 40%;
    height: auto;
    background:rgb(255,255,255);
    position:fixed;
    top: 30%;
    left: 30%;
    padding-top: 60px;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 50px;
}
#evaluate p{
    font-size: 20px;
}
#evaluate a{
    text-decoration: none;
    font-size: 20px;
}
#evaluate a img{
    width:30px;
    height: 30px;
}