	<div class="fun" ng-init="findByCategoryId(5)">
		<div class="py-container">
			<div class="title">
				<h3 class="fl">蜂巢.有趣区</h3>
			</div>
			<div class="clearfix yui3-g Interest" ng-repeat="item5 in contentList[5] track by $index">
				<span class="x-line"></span>
				<div class="yui3-u row-405 Interest-conver" ng-if="$index==0">
					<a href="http://localhost:8084/search.html#?keywords={{item5.url}}" class="pic"><img src="{{item5.pic}}" alt="{{item5.title}}" width="404px" height="405px"/></a>
				</div>
				<div class="yui3-u row-225 Interest-conver-split" ng-if="$index=1">
					<h5>好东西</h5>
					<a href="http://localhost:8084/search.html#?keywords={{item5.url}}" class="pic"><img src="{{item5.pic}}" alt="{{item5.title}}" width="225px" height="205px"/></a>
					<a href="http://localhost:8084/search.html#?keywords={{item5.url}}" class="pic"><img src="{{item5.pic}}" alt="{{item5.title}}" width="225px" height="205px"/></a>
				</div>
				<div class="yui3-u row-405 Interest-conver-split blockgary" ng-if="$index>">
					<h5>品牌街</h5>
					<div class="split-bt">
						<img src="img/interest04.png" />
					</div>
					<div class="x-img fl">
						<img src="img/interest05.png" />
					</div>
					<div class="x-img fr">
						<img src="img/interest06.png" />
					</div>
				</div>
				<div class="yui3-u row-165 brandArea">
					<span class="brand-yline"></span>
					<ul class="yui3-g brand-list">
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand01.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand02.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand03.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand04.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand05.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand06.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand07.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand08.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand09.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand10.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand11.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand12.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand13.png" /></li>
						<li class="yui3-u-1-2 brand-pit"><img src="img/brand03.png" /></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--楼层-->
	<div id="floor-1" class="floor">
		<div class="py-container">
			<div class="title floors">
				<h3 class="fl">精彩创业项目</h3>
				<div class="fr">
					<ul class="sui-nav nav-tabs">
						<li class="active">
							<a href="#tab1" data-toggle="tab">热门</a>
						</li>
						<li>
							<a href="#tab2" data-toggle="tab">大家电</a>
						</li>
						<li>
							<a href="#tab3" data-toggle="tab">生活电器</a>
						</li>
						<li>
							<a href="#tab4" data-toggle="tab">厨房电器</a>
						</li>
						<li>
							<a href="#tab5" data-toggle="tab">应季电器</a>
						</li>
						<li>
							<a href="#tab6" data-toggle="tab">空气/净水</a>
						</li>
						<li>
							<a href="#tab7" data-toggle="tab">高端电器</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix  tab-content floor-content">
				<div id="tab1" class="tab-pane active">
					<div class="yui3-g Floor-1">
						<div class="yui3-u Left blockgary">
							<ul class="jd-list">
								<li>节能补贴</li>
								<li>4K电视</li>
								<li>空气净化器</li>
								<li>IH电饭煲</li>
								<li>滚筒洗衣机</li>
								<li>电热水器</li>
							</ul>
							<img src="img/floor-1-1.png" />
						</div>
						<div class="yui3-u row-330 floorBanner">
							<div id="floorCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
								<ol class="carousel-indicators">
									<li data-target="#floorCarousel" data-slide-to="0" class="active"></li>
									<li data-target="#floorCarousel" data-slide-to="1"></li>
									<li data-target="#floorCarousel" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="active item">
										<img src="img/floor-1-b01.png">
									</div>
									<div class="item">
										<img src="img/floor-1-b02.png">
									</div>
									<div class="item">
										<img src="img/floor-1-b03.png">
									</div>
								</div>
								<a href="#floorCarousel" data-slide="prev" class="carousel-control left">‹</a>
								<a href="#floorCarousel" data-slide="next" class="carousel-control right">›</a>
							</div>
						</div>
						<div class="yui3-u row-220 split">
							<span class="floor-x-line"></span>
							<div class="floor-conver-pit">
								<img src="img/floor-1-2.png" />
							</div>
							<div class="floor-conver-pit">
								<img src="img/floor-1-3.png" />
							</div>
						</div>
						<div class="yui3-u row-218 split">
							<img src="img/floor-1-4.png" />
						</div>
						<div class="yui3-u row-220 split">
							<span class="floor-x-line"></span>
							<div class="floor-conver-pit">
								<img src="img/floor-1-5.png" />
							</div>
							<div class="floor-conver-pit">
								<img src="img/floor-1-6.png" />
							</div>
						</div>
					</div>
				</div>
				<div id="tab2" class="tab-pane">
					<p>第二个</p>
				</div>
				<div id="tab3" class="tab-pane">
					<p>第三个</p>
				</div>
				<div id="tab4" class="tab-pane">
					<p>第4个</p>
				</div>
				<div id="tab5" class="tab-pane">
					<p>第5个</p>
				</div>
				<div id="tab6" class="tab-pane">
					<p>第6个</p>
				</div>
				<div id="tab7" class="tab-pane">
					<p>第7个</p>
				</div>
			</div>
		</div>
	</div>
	<div id="floor-2" class="floor">
		<div class="py-container">
			<div class="title floors">
				<h3 class="fl">创业团队风采</h3>
				<div class="fr">
					<ul class="sui-nav nav-tabs">
						<li class="active">
							<a href="#tab8" data-toggle="tab">热门</a>
						</li>
						<li>
							<a href="#tab9" data-toggle="tab">品质优选</a>
						</li>
						<li>
							<a href="#tab10" data-toggle="tab">新机尝鲜</a>
						</li>
						<li>
							<a href="#tab11" data-toggle="tab">高性价比</a>
						</li>
						<li>
							<a href="#tab12" data-toggle="tab">合约机</a>
						</li>
						<li>
							<a href="#tab13" data-toggle="tab">手机卡</a>
						</li>
						<li>
							<a href="#tab14" data-toggle="tab">手机配件</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="clearfix  tab-content floor-content">
				<div id="tab8" class="tab-pane active">
					<div class="yui3-g Floor-1">
						<div class="yui3-u Left blockgary">
							<ul class="jd-list">
								<li>节能补贴</li>
								<li>4K电视</li>
								<li>空气净化器</li>
								<li>IH电饭煲</li>
								<li>滚筒洗衣机</li>
								<li>电热水器</li>
							</ul>
							<img src="img/floor-1-1.png" />
						</div>
						<div class="yui3-u row-330 floorBanner">
							<div id="floorCarousell" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
								<ol class="carousel-indicators">
									<li data-target="#floorCarousell" data-slide-to="0" class="active"></li>
									<li data-target="#floorCarousell" data-slide-to="1"></li>
									<li data-target="#floorCarousell" data-slide-to="2"></li>
								</ol>
								<div class="carousel-inner">
									<div class="active item">
										<img src="img/floor-1-b01.png">
									</div>
									<div class="item">
										<img src="img/floor-1-b02.png">
									</div>
									<div class="item">
										<img src="img/floor-1-b03.png">
									</div>
								</div>
								<a href="#floorCarousell" data-slide="prev" class="carousel-control left">‹</a>
								<a href="#floorCarousell" data-slide="next" class="carousel-control right">›</a>
							</div>
						</div>
						<div class="yui3-u row-220 split">
							<span class="floor-x-line"></span>
							<div class="floor-conver-pit">
								<img src="img/floor-1-2.png" />
							</div>
							<div class="floor-conver-pit">
								<img src="img/floor-1-3.png" />
							</div>
						</div>
						<div class="yui3-u row-218 split">
							<img src="img/floor-1-4.png" />
						</div>
						<div class="yui3-u row-220 split">
							<span class="floor-x-line"></span>
							<div class="floor-conver-pit">
								<img src="img/floor-1-5.png" />
							</div>
							<div class="floor-conver-pit">
								<img src="img/floor-1-6.png" />
							</div>
						</div>
					</div>
				</div>
				<div id="tab2" class="tab-pane">
					<p>第二个</p>
				</div>
				<div id="tab9" class="tab-pane">
					<p>第三个</p>
				</div>
				<div id="tab10" class="tab-pane">
					<p>第4个</p>
				</div>
				<div id="tab11" class="tab-pane">
					<p>第5个</p>
				</div>
				<div id="tab12" class="tab-pane">
					<p>第6个</p>
				</div>
				<div id="tab13" class="tab-pane">
					<p>第7个</p>
				</div>
				<div id="tab14" class="tab-pane">
					<p>第8个</p>
				</div>
			</div>
		</div>
	</div>
	<!--商标-->
	<div class="brand">
		<div class="py-container">
			<ul class="Brand-list blockgary">
				<li class="Brand-item">
					<img src="img/brand_21.png" />
				</li>
				<li class="Brand-item"><img src="img/brand_03.png" /></li>
				<li class="Brand-item"><img src="img/brand_05.png" /></li>
				<li class="Brand-item"><img src="img/brand_07.png" /></li>
				<li class="Brand-item"><img src="img/brand_09.png" /></li>
				<li class="Brand-item"><img src="img/brand_11.png" /></li>
				<li class="Brand-item"><img src="img/brand_13.png" /></li>
				<li class="Brand-item"><img src="img/brand_15.png" /></li>
				<li class="Brand-item"><img src="img/brand_17.png" /></li>
				<li class="Brand-item"><img src="img/brand_19.png" /></li>
			</ul>
		</div>
	</div>